@model TopMenuModel
@using Nop.Web.Models.Catalog;
@helper RenderCategoryLine(CategorySimpleModel category, int level, bool responsiveMobileMenu)
{
    <li>
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name
        @if (category.NumberOfProducts.HasValue)
        {
            <text> </text>@T("Categories.TotalProducts", category.NumberOfProducts.Value)
        }
        </a>
        @{
            //subcategories
            var subCategories = responsiveMobileMenu ?
                //responsive (all categories)
                category.SubCategories :
                //standard design (only categories with "IncludeInTopMenu")
                category.SubCategories.Where(x => x.IncludeInTopMenu).ToList();

            var levelClass = "";
            if (level == 0)
            {
                levelClass = "first-level";
            }
            if (subCategories.Count > 0)
            {
                <div class="sublist-toggle"></div>
                <ul class="sublist @levelClass">
                    @foreach (var subCategory in subCategories)
                    {
                        @RenderCategoryLine(subCategory, level + 1, responsiveMobileMenu)
                    }
                </ul>
            }
        }
    </li>
}



<ul class="top-menu" id="head-block">
    @Html.Widget("header_menu_before")
   @* @{
        var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
    }
    @foreach (var category in rootCategories)
    {
        @RenderCategoryLine(category, 0, false)
    }
    @foreach (var topic in Model.Topics)
    {
        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
    }
    @if (rootCategories.Count == 0 && Model.Topics.Count == 0)
    {
        //no categories or topis to display? in this case let's diplay some default menu items (should we?)
        <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
        if (Model.RecentlyAddedProductsEnabled)
        {
            <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
            </li>
        }
        <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
        <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
        if (Model.BlogEnabled)
        {
            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
        }
        if (Model.ForumEnabled)
        {
            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
        }
        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
    }
	*@
	<li><a href="@Url.RouteUrl("Topic", new {SeName = "aboutus"})">О компании</a></li>
	<li><a href="@Url.RouteUrl("Topic", new {SeName = "ourclients"})">Наши клиенты</a></li>
    <li> <a href="@Url.RouteUrl("Category", new { SeName = "services" })">Услуги</a> </li>
	<li> <a href="@Url.RouteUrl("Category", new { SeName = "products" })">Магазин</a> </li>
	@*<li><a href="@Url.RouteUrl("Topic", new {SeName = "support365"})">@T("Support365")</a></li>*@
	<li> <a href="@Url.RouteUrl("Category", new { SeName = "News" })">Статьи</a> </li>
	<li><a href="@Url.RouteUrl("ContactUs")">Контакты</a></li>
	<li><a href="#modal-login">Для клиентов</a></li>

    <script>
        jQuery(document).ready(function($) {
        var url=document.location.href;
        $.each($("#head-block a"),function(){
        if(this.href==url){$(this).parent().addClass('active-menu-item');};
        });
        })(jQuery);
    </script>
	
    @Html.Widget("header_menu_after")
</ul>

@{
    var rootCategoriesResponsive = Model.Categories.ToList();
    //name it "Categories" if we have only categories. Otherwise, "Menu"
    //var responsiveMenuTitle = (rootCategoriesResponsive.Count > 0 && Model.Topics.Count == 0) ? T("Categories") : T("Menu");
	var responsiveMenuTitle =  T("Menu");
    <div class="menu-toggle">@responsiveMenuTitle</div>
    <ul class="top-menu mobile">
        @Html.Widget("mob_header_menu_before")
        @*
		@foreach (var category in rootCategoriesResponsive)
        {
            @RenderCategoryLine(category, 0, true)
        }
        @foreach (var topic in Model.Topics)
        {
            <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
        }
        @if (rootCategoriesResponsive.Count == 0 && Model.Topics.Count == 0)
        {
            //no categories or topis to display? in this case let's diplay some default menu items (should we?)
            <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
            if (Model.RecentlyAddedProductsEnabled)
            {
                <li>
                    <a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
                </li>
            }
            <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
            <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
            if (Model.BlogEnabled)
            {
                <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
            }
            if (Model.ForumEnabled)
            {
                <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
            }
            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
        }
		*@
		<li><a href="@Url.RouteUrl("Topic", new {SeName = "t//aboutus"})">О компании</a></li>
	<li><a href="@Url.RouteUrl("Topic", new {SeName = "t//ourclients"})">Наши клиенты</a></li>
    <li> <a href="@Url.RouteUrl("Category", new { SeName = "services" })">Услуги</a> </li>
	<li> <a href="@Url.RouteUrl("Category", new { SeName = "products" })">Магазин</a> </li>
	@*<li><a href="@Url.RouteUrl("Topic", new {SeName = "t//support365"})">@T("Support365")</a></li>*@
	<li> <a href="@Url.RouteUrl("Category", new { SeName = "News" })">Новости</a> </li>
	<li><a href="@Url.RouteUrl("ContactUs")">Контакты</a></li>
	<li><a href="https://cabinet.it4us.ru">Для клиентов</a></li>
        @Html.Widget("mob_header_menu_after")
    </ul>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $(this).siblings('.top-menu.mobile').slideToggle('slow');
            });
            $('.top-menu.mobile .sublist-toggle').click(function () {
                $(this).siblings('.sublist').slideToggle('slow');
            });
        });
    </script>

	@*<script>
		(function ($) {
        $('#head-block li a').on('click', function () {
          $('#head-block li').siblings().removeClass('act').end().addClass('act');
        })
      })(jQuery);
	</script>*@
}



