@model ContactUsModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ContactUs.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
}

<div class="head-map"></div>
<div class="contactus-block">
<div class="breadcrumb">
		<ul>
			<li><a title="Главная" href="/">Главная</a> <span class="delimiter">/</span></li>
			<li><strong class="current-item">Контакты</strong></li>
		</ul>
	</div>
    <div class="contuctus-page-title">
        Контакты
    </div>
    <div class="contactus-contacts clearfix">
        <ul class="contactus-contacts-list">
            <li class="contactus-contacts-list-item">
                <div class="geo-icon"></div>
                <span class="contacts-text">Владивосток,<p>Океанский пр-т 24, ст.2</p></span>
            </li>
            <li class="contactus-contacts-list-item">
                <div class="mail-icon"></div>
                <span class="contacts-text">it4us@it4us.ru</span>
            </li>
            <li class="contactus-contacts-list-item">
                <div class="phone-icon"></div>
                <p class="contacts-text">+7 423 260 56 55</p>
                <p class="contacts-text">+7 423 265 55 56</p>
            </li>
        </ul>
    </div>
    <div class="contactus-form-header">
        Обратная связь
    </div>
    <div class="contuctus-form">
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            using (Html.BeginForm())
            {
              @Html.AntiForgeryToken()
            
                var validationSummary = Html.ValidationSummary(true);
                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div> 
                }
                <div class="fieldset">
                    <div class="form-fields contactus-form-fieldset">

                        <div class="inputs-Name">
                            @Html.LabelFor(model => model.FullName)<br>
                            @Html.TextBoxFor(model => model.FullName, new { @class = "fullname"})
                            @Html.ValidationMessageFor(model => model.FullName)
                        </div>
                        <div class="inputs-Mail">
                            @Html.LabelFor(model => model.Email)<br>
                            @Html.TextBoxFor(model => model.Email, new { @class = "email"})
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        @if (Model.SubjectEnabled)
                        {
                            <div class="inputs-Subject">
                                @Html.LabelFor(model => model.Subject)
                                @Html.TextBoxFor(model => model.Subject, new { @class = "subject"})
                                @Html.ValidationMessageFor(model => model.Subject)
                            </div>
                        }
                        <div class="inputs-Message">
                            @Html.LabelFor(model => model.Enquiry)<br>
                            @Html.TextAreaFor(model => model.Enquiry, new { @class = "enquiry"})
                            @Html.ValidationMessageFor(model => model.Enquiry)
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                    
					</div>
					<div class="buttons">
						<input type="submit" name="send-email" class="contact-button">
						
					</div>
                </div>
                
            }
            @Html.Widget("contactus_bottom")
        }
    </div>
</div>


